---
layout: default
title: "Jekyll TailwindCSS Template"
---
<div class="h-screen flex flex-col items-center justify-center">
    <h1 class="text-2xl mb-2">Jekyll TailwindCSS Template</h1>
    <h3 class="text-gray-700">For your utility-first styling
        pleasure.</h3>
</div>